

@import 'variables.scss';


@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


@mixin gradient-text($from, $to) {
  background: linear-gradient(90deg, $from, $to);
  -webkit-background-clip: text;
  color: transparent;
}


@mixin glass {
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(20px);
  box-shadow: $shadow-glass;
  border-radius: $radius-lg;
  padding: $space-lg;
  transition: $transition;
}


@mixin hover-glow {
  &:hover {
    animation: glow 1.5s infinite alternate;
    transform: scale(1.03);
  }
}
